@import "toast-grid.css";
@import "sprinkles.css";
@import "slider.css";

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 15px;
}

a {
  color: #f0c417;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.button {
  color: #ffffff;
  background: #f0c417;
  text-decoration: none;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 4px;
  width: 100%;
  display: inline-block;
}

.padded {
  padding: 12px 18px;
}

.box {
  border: 2px solid #eee;
  border-radius: 4px;
  margin-bottom: 20px;
}

.instructions {
  font-size: 0.8em;
  line-height: 1.4em;
  max-width: 500px;
  margin: 2em auto;
}

.slider-label {
  line-height: 34px;
}

.cooler {
  transition: opacity 400ms;
}

.tip {
  color: #b6b6b6;
  font-size: 0.6em;
  margin: 0 0 .8em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.cooler-remove-control {
  color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  transition: color 100ms;
  padding: 8px 6px 6px;
  font-size: 30px;
  line-height: 18px;
}
.cooler-remove-control:hover {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.cooler:first-of-type .cooler-remove-control {
  display: none;
}

.cooler-type {
  border-radius: 4px;
  padding: 0 5px;
  margin-bottom: 15px;
  transition: background 300ms, border-color 100ms;
  border: 2px solid white;
}
.cooler-type:hover,
.cooler-type-active {
  border-color: #F3F3F3;
}
.cooler-type-active {
  background: #F3F3F3;
}
.cooler-type-active .cooler-type-label {
  font-weight: bold;
}

.cooler-type-label {
  line-height: 50px;
  margin-left: 5px;
}

#results {
  border-top: 2px solid black;
  padding-top: 12px;
}

.unit {
  font-size: 0.8em;
}

.results-total {
  font-size: 1.75em;
}
.results-label {
  font-size: .75em;
}

@media (max-width: 500px) {
  .cooler-type {
    text-align: center;
    padding-bottom: 10px;
  }
  .cooler-type img,
  .cooler-type-label {
    display: block;
    margin: 0 auto;
  }
  .cooler-type img {
    float: none !important;
  }
  .cooler-type-label {
    line-height: inherit;
    margin-left: 0;
  }
}
